.nav-tab {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.nav-tab__link {
    background-color: #e8e8e8;
    border-radius: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding: 10px;
    min-width: 96px;
    text-align: center;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .nav-tab__link {
        font-size: calc(10px + (12 - 10) * ((100vw - 320px) / (768 - 320)));
        min-width: calc(82px + (96 - 82) * ((100vw - 320px) / (768 - 320)));
    }
}
